name: Build Visualizer
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: [self-hosted, build]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build
  deploy:
    needs: build
    runs-on: [self-hosted, deploy]
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Install dependencies
      run: npm install
      

    - name: Build Next.js app
      run: npm run build
      
    - name: Start Next.js server
      run: nohup npx next start -p 3000 > server.log &

    - name: Install jq
      run: apt-get update && apt-get install -y jq
      
    - name: set up ngrok tunnel
      run: |
        npm install -g ngrok
        ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
        ngrok http 3000 > ngrok.log &
        sleep 5
        curl http://127.0.0.1:4040/api/tunnels | jq '.tunnels[0].public_url'
       

  

